<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.rose.mapper.ShowAttachMapper">
	<!--연극게시판 썸네일 목록  -->
	<select id="getThumbList" resultType="com.rose.domain.ShowAttachVO">
		<![CDATA[
	    select * from tbl_show_attach where s_no>0 order by s_no desc
	    ]]>
	</select>
</mapper>